* {
    margin: 0;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 235, 235);
}

.all {
    display: flex;
    justify-content: first baseline;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    margin-top: 10px;
    width: 100%;
    height: 300vh;
}




/*  navbar*/
.nav{
    position: fixed;
    width: 90%;
    height:80px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    z-index: 1000;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.img-kh24-languege{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-right: 100px;
}
.img-kh24-languege>a>.kh24{
    transition: 0.2s;
}
.img-kh24-languege>a>.kh24:hover{
    transition: 0.2s;
    transform: scale(1.1);
}

.img-kh24-languege>.languege{
    
}

.lang{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


/* category & search */
.search-category{
    display: flex;
    justify-content: center;
    align-items: center;
    select{
        font-weight: bold;
        padding: 10px 1px;
        border:3px solid #ffffff;
        width: 100px;             /* A fixed width is required */
        white-space: nowrap;      /* Prevents text from wrapping to a new line */
        overflow: hidden;         /* Hides the text that goes outside the box */
        text-overflow: ellipsis;  /* Adds the "..." to the hidden text */
        border:3px solid #006699;
        

}
select:focus{
    transition: 0.2s;
        border:3px solid #0066996f;
        z-index: 1;
}
    input{
        position: relative;
        right: 3px;
        padding: 10.4px 50px;
        border:3px solid #ffffff;
        border:3px solid #006699;
        
    }
    input:focus{
        outline: none;
        transition: 0.2s;
        border:3px solid #00669970;
    }
    

    .fa-magnifying-glass{
        position: relative;
        right: 320px;
        color: #006699;
    }
    .fa-magnifying-glass:hover{
        transition: 0.2;
        transform: scale(1.1);
    }
    p{
        position: relative;
        right: 70px;
        color: #ffffff;
        font-weight: bold;
        border: solid #006699;
        background-color: #006699;
        padding: 9.2px 5px;
        cursor: pointer;
        transition: 0.2s;
    }
    p:hover{
        transition: 0.2s;
        color: #006699;
        border: solid #00669971;
        background-color: #ffffff;
    }
}
/*end category & search */



.Account{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #006699;
    font-size: 20px;

}
.a-sell{
    text-decoration: none;
}
.sell{
    
    i{
        text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #006699;
    width: 80px;
    height: 50px;
    border-radius: 5px;
    color: white;
    }
}
/* end nav */



.gif-flag{
    padding-top: 100px;
    img{
        width: 1150px;
        height: 300px;
    }
}







/* linkcate */
.link-cate{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    .p1{

        
    }

    .link-path{
        width: 1140px;
        height: 300px;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        border: 2px solid rgb(200, 200, 200);
    }

    .row1{
        width: 100%;
        height: 50%;
        /* background-color: blueviolet; */
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* gap: 100px; */
        
        .link-go{
            width: 100%;
            height: 100%;
            /* background-color: beige; */
            /* border-radius: 100%; */
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 50px;
            .link1{
                display: flex;
                justify-content: center;
                gap: 15px;
                flex-direction: column;
                align-items: center;
                width: 120px;
                height: 130px;
            }
            .img{
                border-radius: 100%;
                width: 80px;
                height: 80px;
                background-color: rgb(183, 214, 255);
                justify-content: center;
                align-items: center;
                display: flex;
                img{
                    width: 70px;
                    height: 70px;
                    object-fit: contain;
                }
            }
            .p-car {
                text-align: center;
                height: 40px;      /* same height for all */
                display: flex;
                align-items: center;
                justify-content: center;
            }

        }
    }
    .row2{
        width: 100%;
        height: 50%;
        /* background-color: blueviolet; */
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* gap: 100px; */
        
        .link-go{
            width: 100%;
            height: 100%;
            /* background-color: beige; */
            /* border-radius: 100%; */
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 50px;
            .link1{
                display: flex;
                justify-content: center;
                gap: 15px;
                flex-direction: column;
                align-items: center;
                width: 120px;
                height: 130px;
            }
            .img{
                border-radius: 100%;
                width: 80px;
                height: 80px;
                background-color: rgb(183, 214, 255);
                justify-content: center;
                align-items: center;
                display: flex;
                img{
                    width: 70px;
                    height: 70px;
                    object-fit: contain;
                }
            }
            .p-car {
  text-align: center;
  height: 40px;      /* same height for all */
  display: flex;
  align-items: center;
  justify-content: center;
}

        }
    }
}















/* bg top ads */
.bg-ad {
    /* margin-top: 10px; */
    width: 75%;
    height: 420px;
    background: linear-gradient(to bottom, rgb(126, 212, 255), rgba(126, 212, 255, 0.123));
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    /* flex-direction: column; */
    /* overflow: hidden; */
}

/* start top ads */
.all>.bg-ad>.body-ad {
    /* margin-top: 10px; */
    width: 95%;
    height: 420px;
    /* background: linear-gradient(to bottom,rgb(126, 212, 255),rgba(126, 212, 255, 0.123)); */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
    /* padding: 0px 20px 0px 20px; */


}

.all>.bg-ad>.body-ad>.p1 {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.all>.bg-ad>.body-ad>.top-ad {
    width: 100%;
    height: 300px;
    /* background-color: rgb(35, 43, 43); */
    display: flex;
    /* background-color: aqua; */
    flex-direction: row;
    gap: 10px;
    overflow-x: auto;
    /* horizontal scroll */
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom: 60px;
    scroll-behavior: smooth;

}

.all>.bg-ad>.body-ad>.top-ad::-webkit-scrollbar {
    /* display: none; */

}

.all>.bg-ad>.body-ad>.top-ad>.card {
    width: 260px;
    height: 320px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1.4px solid rgba(247, 247, 247, 0.58);
    border-radius: 5px;
    overflow: hidden;
    flex: 0 0 auto;



}

.all>.bg-ad>.body-ad>.top-ad>.card>.img {
    background-color: blue;
    width: 100%;
    height: 50%;
    overflow: hidden;
    position: relative;

    img {
        padding-bottom: 10px;
        width: 100%;
        position: relative;
        bottom: 40px;
    }

    .fa-camera {
        border-radius: 2px;
        padding: 4px;
        background-color: rgba(245, 0, 0, 0.564);
        color: rgb(255, 255, 255);
        position: absolute;
        right: 6px;
        /* left: 10px; */
        top: 120px;
    }

    .fa-list {
        border-radius: 100px;
        padding: 4px;
        background-color: rgba(245, 0, 0, 0.564);
        color: rgb(255, 255, 255);
        position: absolute;
        right: 6px;
        /* left: 10px; */
        top: 5px;
    }

}

.all>.bg-ad>.body-ad>.top-ad>.card>.text {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;

}

.all>.bg-ad>.body-ad>.top-ad>.card>.text>.description {}

.all>.bg-ad>.body-ad>.top-ad>.card>.text>.type {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: rgb(255, 255, 255);

    p {
        color: rgb(74, 74, 74);
        background-color: rgb(219, 219, 219);
        border-radius: 3px;
        padding: 2px;
        font-size: 13px;
    }
}

.all>.bg-ad>.body-ad>.top-ad>.card>.text>.date {
    p {
        color: gray;
        font-size: 13px;
    }
}

.all>.bg-ad>.body-ad>.top-ad>.card>.text>.price {
    position: relative;

    p {
        font-size: 20px;
        font-weight: bolder;
        color: red;
    }

    i {
        border-radius: 4px;
        padding: 4px;
        background-color: rgb(245, 0, 0);
        color: rgb(255, 255, 255);
        position: absolute;
        right: 20px;
        /* left: 10px; */
        top: 10px;
    }
}

/* end top ads */






/* start latest ad */
.all>.body-late {
    width: 70%;
    height: auto;
    /* background-color: brown; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.all>.body-late>.latest-ad {
    width: 100%;
    height: auto;
    /* background-color: rgb(202, 0, 0); */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* padding: 0px 20px 0px 20px; */
    margin-right: 20px;



}

.all>.body-late>.latest-ad>.body-card2 {
    display: grid;
     grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 10px;
    justify-items: center;
    /* background-color: aqua; */
}

.all>.body-late>.latest-ad>.p2 {
    width: 100%;
    height: 50px;
    display: flex;
    /* align-items: center; */
}


/* card */
.all>.body-late>.latest-ad>.body-card2>.card2 {
    width: 100%;
    height: 320px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1.4px solid rgba(0, 0, 0, 0.58);
    border-radius: 5px;
    overflow: hidden;
    flex: 0 0 auto;



}

.all>.body-late>.latest-ad>.body-card2>.card2>.img2 {
    background-color: blue;
    width: 100%;
    height: 50%;
    overflow: hidden;
    position: relative;

    img {
        padding-bottom: 10px;
        width: 100%;
        position: relative;
        bottom: 50px;
    }

    .fa-camera {
        border-radius: 2px;
        padding: 4px;
        background-color: rgba(245, 0, 0, 0.564);
        color: rgb(255, 255, 255);
        position: absolute;
        right: 6px;
        /* left: 10px; */
        top: 120px;
    }

    .fa-list {
        border-radius: 100px;
        padding: 4px;
        background-color: rgba(245, 0, 0, 0.564);
        color: rgb(255, 255, 255);
        position: absolute;
        right: 6px;
        /* left: 10px; */
        top: 5px;
    }

}

.all>.body-late>.latest-ad>.body-card2>.card2>.text2 {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;

}

.all>.body-late>.latest-ad>.body-card2>.card2>.text2>.description2 {}

.all>.body-late>.latest-ad>.body-card2>.card2>.text2>.type2 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: rgb(255, 255, 255);

    p {
        color: rgb(74, 74, 74);
        background-color: rgb(219, 219, 219);
        border-radius: 3px;
        padding: 2px;
        font-size: 13px;
    }
}

.all>.body-late>.latest-ad>.body-card2>.card2>.text2>.date2 {
    p {
        color: gray;
        font-size: 13px;
    }
}

.all>.body-late>.latest-ad>.body-card2>.card2>.text2>.price2 {
    position: relative;

    p {
        font-size: 20px;
        font-weight: bolder;
        color: red;
    }

    i {
        border-radius: 4px;
        padding: 4px;
        background-color: rgb(245, 0, 0);
        color: rgb(255, 255, 255);
        position: absolute;
        right: 20px;
        /* left: 10px; */
        top: 10px;
    }
}

/* btn-view */
.btn-view{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 40px;
    /* background-color: blue; */
    button{
        /* font-weight: bold; */
        font-size: 20px;
        align-self: center;
        color: white;
        padding: 5px 300px;
        background-color: rgb(30, 150, 255);
        border: 0px;
        border-radius: 10px;
    }
    button:hover{
        transition: 0.2s;
        background-color: rgb(51, 133, 205);
    }
}
/* end btn-view */

/* kheat */
.kheat{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 63%;
    height: 100%;
    background-color: rgb(244, 244, 244);
    border-radius: 10px;
    border: 1px solid black;

    dl{
        padding: 40px;
        height: 300px;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(5,1fr);
        gap: 50px;
        align-content: center;
        /* background-color: brown; */
    }
    dt{
        color: rgb(0, 91, 170);
        cursor: pointer;
    }
}







/* footer */
.all1 {
    width: 100%;
    height: 50px;
    bottom: 90px;
    color: white;
}
 
.img3{
    z-index: -1;
    position: relative;
    top: 46px;
    /* left: 230px; */
    overflow:hidden;
    display: flex;
    justify-content: center;
}

.fa-facebook {
    font-size: 30px;
    
}
.fa-youtube {
    font-size: 30px;
    
}

.footer {
    width: 100%;
    height: 290px;
    background-color: #006699;
    display: flex;
    justify-content:space-around;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    padding-top: 60px;
}

.download{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.imgae2{
    display: flex;
    justify-content: start;
    align-items: center;
}

.useful-information{
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.useful-information>.h1{
    margin-bottom: 20px;
}

.custommer>.h1{
    margin-bottom: 20px;
}
.custommer{
     gap: 10px;
    display: flex;
    flex-direction: column;
}
.follow>.h1{
    margin-bottom: 20px;
}
.follow{
     gap: 16px;
    display: flex;
    flex-direction: column;
}
.follow>.fb{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.follow>.yt{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}





