* {
    margin: 0;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all {
    display: flex;
    justify-content: first baseline;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    margin-top: 10px;
    width: 100%;
    height: 400vh;
}

.bg-ad {
    /* margin-top: 10px; */
    width: 75%;
    height: 420px;
    background: linear-gradient(to bottom, rgb(126, 212, 255), rgba(126, 212, 255, 0.123));
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    /* overflow: hidden; */
}

/* start top ads */
.all>.bg-ad>.body-ad {
    /* margin-top: 10px; */
    width: 95%;
    height: 420px;
    /* background: linear-gradient(to bottom,rgb(126, 212, 255),rgba(126, 212, 255, 0.123)); */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
    /* padding: 0px 20px 0px 20px; */


}

.all>.bg-ad>.body-ad>.p1 {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.all>.bg-ad>.body-ad>.top-ad {
    width: 100%;
    height: 300px;
    /* background-color: rgb(35, 43, 43); */
    display: flex;
    /* background-color: aqua; */
    flex-direction: row;
    gap: 10px;
    overflow-x: auto;
    /* horizontal scroll */
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom: 60px;
    scroll-behavior: smooth;

}

.all>.bg-ad>.body-ad>.top-ad::-webkit-scrollbar {
    /* display: none; */

}

.all>.bg-ad>.body-ad>.top-ad>.card {
    width: 260px;
    height: 320px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1.4px solid rgba(247, 247, 247, 0.58);
    border-radius: 5px;
    overflow: hidden;
    flex: 0 0 auto;



}

.all>.bg-ad>.body-ad>.top-ad>.card>.img {
    background-color: blue;
    width: 100%;
    height: 50%;
    overflow: hidden;
    position: relative;

    img {
        padding-bottom: 10px;
        width: 100%;
        position: relative;
        bottom: 40px;
    }

    .fa-camera {
        border-radius: 2px;
        padding: 4px;
        background-color: rgba(245, 0, 0, 0.564);
        color: rgb(255, 255, 255);
        position: absolute;
        right: 6px;
        /* left: 10px; */
        top: 120px;
    }

    .fa-list {
        border-radius: 100px;
        padding: 4px;
        background-color: rgba(245, 0, 0, 0.564);
        color: rgb(255, 255, 255);
        position: absolute;
        right: 6px;
        /* left: 10px; */
        top: 5px;
    }

}

.all>.bg-ad>.body-ad>.top-ad>.card>.text {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;

}

.all>.bg-ad>.body-ad>.top-ad>.card>.text>.description {}

.all>.bg-ad>.body-ad>.top-ad>.card>.text>.type {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: rgb(255, 255, 255);

    p {
        color: rgb(74, 74, 74);
        background-color: rgb(219, 219, 219);
        border-radius: 3px;
        padding: 2px;
        font-size: 13px;
    }
}

.all>.bg-ad>.body-ad>.top-ad>.card>.text>.date {
    p {
        color: gray;
        font-size: 13px;
    }
}

.all>.bg-ad>.body-ad>.top-ad>.card>.text>.price {
    position: relative;

    p {
        font-size: 20px;
        font-weight: bolder;
        color: red;
    }

    i {
        border-radius: 4px;
        padding: 4px;
        background-color: rgb(245, 0, 0);
        color: rgb(255, 255, 255);
        position: absolute;
        right: 20px;
        /* left: 10px; */
        top: 10px;
    }
}

/* end top ads */






/* start latest ad */
.all>.body-late {
    width: 70%;
    height: auto;
    /* background-color: brown; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.all>.body-late>.latest-ad {
    width: 100%;
    height: auto;
    /* background-color: rgb(202, 0, 0); */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* padding: 0px 20px 0px 20px; */
    margin-right: 20px;



}

.all>.body-late>.latest-ad>.body-card2 {
    display: grid;
     grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 10px;
    justify-items: center;
    /* background-color: aqua; */
}

.all>.body-late>.latest-ad>.p2 {
    width: 100%;
    height: 50px;
    display: flex;
    /* align-items: center; */
}


/* card */
.all>.body-late>.latest-ad>.body-card2>.card2 {
    width: 100%;
    height: 320px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1.4px solid rgba(0, 0, 0, 0.58);
    border-radius: 5px;
    overflow: hidden;
    flex: 0 0 auto;



}

.all>.body-late>.latest-ad>.body-card2>.card2>.img2 {
    background-color: blue;
    width: 100%;
    height: 50%;
    overflow: hidden;
    position: relative;

    img {
        padding-bottom: 10px;
        width: 100%;
        position: relative;
        bottom: 50px;
    }

    .fa-camera {
        border-radius: 2px;
        padding: 4px;
        background-color: rgba(245, 0, 0, 0.564);
        color: rgb(255, 255, 255);
        position: absolute;
        right: 6px;
        /* left: 10px; */
        top: 120px;
    }

    .fa-list {
        border-radius: 100px;
        padding: 4px;
        background-color: rgba(245, 0, 0, 0.564);
        color: rgb(255, 255, 255);
        position: absolute;
        right: 6px;
        /* left: 10px; */
        top: 5px;
    }

}

.all>.body-late>.latest-ad>.body-card2>.card2>.text2 {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;

}

.all>.body-late>.latest-ad>.body-card2>.card2>.text2>.description2 {}

.all>.body-late>.latest-ad>.body-card2>.card2>.text2>.type2 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: rgb(255, 255, 255);

    p {
        color: rgb(74, 74, 74);
        background-color: rgb(219, 219, 219);
        border-radius: 3px;
        padding: 2px;
        font-size: 13px;
    }
}

.all>.body-late>.latest-ad>.body-card2>.card2>.text2>.date2 {
    p {
        color: gray;
        font-size: 13px;
    }
}

.all>.body-late>.latest-ad>.body-card2>.card2>.text2>.price2 {
    position: relative;

    p {
        font-size: 20px;
        font-weight: bolder;
        color: red;
    }

    i {
        border-radius: 4px;
        padding: 4px;
        background-color: rgb(245, 0, 0);
        color: rgb(255, 255, 255);
        position: absolute;
        right: 20px;
        /* left: 10px; */
        top: 10px;
    }
}

/* btn-view */
.btn-view{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 40px;
    /* background-color: blue; */
    button{
        /* font-weight: bold; */
        font-size: 20px;
        align-self: center;
        color: white;
        padding: 5px 300px;
        background-color: rgb(30, 150, 255);
        border: 0px;
        border-radius: 10px;
    }
    button:hover{
        transition: 0.2s;
        background-color: rgb(51, 133, 205);
    }
}
/* end btn-view */

/* kheat */
.kheat{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 63%;
    height: 360px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid black;

    dl{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(5,1fr);
        gap: 50px;
        align-content: center;
        /* background-color: brown; */
    }
    dt{

    }
}



